
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台首页 - QAdmin后台模板</title>
    <link rel="stylesheet" href="./static/common/layui/css/layui.css">
    <link rel="stylesheet" href="./static/admin/css/style.css">
    <script src="./static/common/layui/layui.js"></script>
    <script src="./static/common/jquery-3.3.1.min.js"></script>
    <script src="./static/common/vue.min.js"></script>
    <style>
        .right h2{
            margin: 10px 0;
        }
        .right li{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname"></h1>
        <div class="breadcrumb">
            <i class="layui-icon">&#xe715;</i>
            <ul>
                <li v-for="vo in address">
                    <a  v-text="vo.name" :href="vo.url" ></a> <span>/</span>
                </li>
            </ul>
        </div>
    </header>

    <div class="main">
        <!--左栏-->
        <div class="left">
            <ul class="cl" >
                <!--顶级分类-->
                <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
                    <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                        <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active" class="layui-icon active">&#xe623;</i>
                    </a>
                    <!--子级分类-->
                    <div v-for="vo2,index2 in vo.list">
                        <a :href="vo2.url" target="main" :class="{active:vo2.active}"  v-text="vo2.name"></a>
                        <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
                    </div>
                </li>
            </ul>
        </div>

        <!--右侧-->
        <div class="right">
            <iframe src="main.html" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" target="_self" ></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    let menu = [{
        "name": "首页",
        "icon": "&#xe68e;",
        "url": "index.html",
        "hidden": false,
        "list": []
    },{
        "name": "基本组件",
        "icon": "&#xe653;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "layui基本组件",
            "url": "pages_component.html",
        },{
            "name": "layui内置模块",
            "url": "pages_model.html"
        },{
            "name": "提示框",
            "url": "pages_msg.html"
        }]
    }, {
        "name": "用户管理",
        "icon": "&#xe612;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "用户列表",
            "url": "user_index.html"
        }, {
            "name": "添加用户",
            "url": "user_add.html"
        }]
    }, {
        "name": "文章管理",
        "icon": "&#xe609;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "栏目管理",
            "url": "type_index.html"
        }, {
            "name": "文章管理",
            "url": "article_index.html"
        }]
    }, {
        "name": "系统设置",
        "icon": "&#xe620;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "网站设置",
            "url": "web_index.html"
        }, {
            "name": "友情连接",
            "url": "flink_index.html"
        }, {
            "name": "导航管理",
            "url": "nav_index.html"
        }, {
            "name": "修改密码",
            "url": "web_pwd.html"
        }, {
            "name": "清除缓存",
            "url": "web_cache.html"
        }]
    }, {
        "name": "数据库",
        "icon": "&#xe857;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "备份数据库",
            "url": "db_backup.html"
        }, {
            "name": "还原数据库",
            "url": "db_reduction.html"
        }]
    }, {
        "name": "退出登录",
        "icon": "&#xe65c;",
        "url": "out.html",
        "list": []
    }, {
        "name": "开发者官网",
        "icon": "&#xe65f;",
        "url": "http://www.qadmin.net/",
        "target": "_blank",
        "list": []
    }, {
        "name": "开发文档",
        "icon": "&#xe655;",
        "url": "http://docs.qadmin.net/",
        "target": "_blank",
        "list": []
    }];

    let config = {
        webName : "Qadmin",
        menuList : menu,
        //layer全局提示层
        layerMsg: {
            offset: 't', //坐标 (详细说明 https://www.layui.com/doc/modules/layer.html#offset)
            shade: [0.4, '#000'] //遮罩 (详细说明 https://www.layui.com/doc/modules/layer.html#shade)
        }
    };


    //模拟登录状态,实际使用时请删除掉
    if(!sessionStorage.isLgoin){
        window.location.href = 'login.html';
    }
</script>



<script src="./static/admin/js/script.js"></script>
</body>
</html>
